@font-face {
    font-family: 'writer-quattro'; /*a name to be used later*/
    src: url('assets/fonts/iA Writer Quattro S Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'agrandir'; /*a name to be used later*/
    src: url('assets/fonts/Agrandir-Regular.otf'); /*URL to font*/
}

html {
    font-size: 16px;
    font-family: 'agrandir';
    color: #111827;
}

h1, h2, h3 {
    font-family: 'writer-quattro', sans-serif;
}
    
body {
    background-color: #e8e8e8; /* off-white */
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3rem; */
}

img {
    max-width: 100%;
    display: block;
}

main {
    container: main / inline-size;
}
  
  .grid-auto-fit {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(30ch, 100%), 1fr));
  
    container: grid-auto-fit / inline-size;
  }


.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #f6f6f6;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); */
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;

    > .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: rgb(42, 111, 150);
    }

    > a {
        text-decoration: none
    }
  }
  
  
  
  .image-expand {

  }

  .content {
    padding: 1.1rem;
    display: flex;
    flex-flow: column nowrap;
    &:last-child {
        margin-top: auto;
    }
  }


  .tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tag {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: hsl(308, 59%, 72%);
    font-weight: 700;
    border-radius: 0.25rem;
    font-size: .7rem;
  }

  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .description {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .action, .action:link, .action:visited, .action:hover, .action:active {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    background-color: rgb(42, 111, 150);
    padding: .5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  